body {
	background-color: #4c5167;
	/*font-family: 'Rubik', sans-serif;*/
	/*background-color: whitesmoke;*/
}

.startpage {
	position: static;
}

.typography {
	width: 420px;
	height: auto;
	margin-top: 50px;
	/*border: 1px solid;*/
}

.logoimg {
	width: 420px;
	height: auto;
	overflow: scroll;
	float: left;
	margin-right: 50px;
	/*border: 1px solid;*/
}

.content {
	margin-top: 100px;
	color: #4c5167;
	/*border: 1px solid;*/
}

.socialicons {
	position: fixed;
	top: 50%;
	/*-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);*/
}

.socialicons a {
	display: block;
	text-align: center;
	/*padding: 1px;*/
	font-size: 20px;
}

.socialicons a svg {
	background-color: white;
	fill: #4c5167;
	transition: all 0.3s ease;
}

.socialicons a svg:hover {
	fill: white;
	background-color: #4c5167;
}
